【臺北大學】Python程式設計<br>
【授課老師】[陳祥輝 (Email : HsiangHui.Chen@gmail.com)](mailto:HsiangHui.Chen@gmail.com)<br>
【facebook】[陳祥輝老師的臉書 (歡迎加好友)](https://goo.gl/osivhx)<br>
【參考書籍】[從零開始學Python程式設計（適用Python 3.5以上）](http://www.drmaster.com.tw/Bookinfo.asp?BookID=MP31821)<br>
【主要議題】Pandas的基本資料結構Series/DataFrame操作

【重點提要】
###### Pandas : Data structures & analysis

Pandas 提供的重要資料結構
* Series：用來處理時間序列相關的資料(如感測器資料等)，主要為建立索引的一維陣列。
* DataFrame：用來處理結構化(Table like)的資料，有列索引(indexes)與欄標籤(columns)的二維資料集，例如關聯式資料庫、CSV 等等。
* Panel：用來處理有資料及索引、列索引與欄標籤的三維資料集。

---

Pandas 提供的資料型態
* Categorical
    * Norminal
    * Ordinal

---

Pandas的DataFrame
* DataFrame的基本瀏覽
* DataFrame的列(row)、行(column)操作
* DataFrame的各種資料篩選
* DataFrame的groupby
* DataFrame的concat(如同R語言的rbind與Cbind)
* DataFrame的merge(inner、outer、left以及right)，如同SQL的join
* DataFrame duplicate rows的DataFrame.drop_duplicates()
* DataFrame匯出至不同檔案格式

In [4]:
# -*- coding: utf-8 -*-
import os, time, glob, socket
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("【日期時間】{}".format(time.strftime("%Y/%m/%d %H:%M:%S")))
print("【工作目錄】{}".format(os.getcwd()))
print("【主機名稱】{} ({})".format(socket.gethostname(),socket.gethostbyname(socket.gethostname())))

【日期時間】2019/06/18 10:48:27
【工作目錄】E:\annie\3下課程\MyPython\Final_note
【主機名稱】LAPTOP-7TNGIFIP (172.20.10.3)

### <font color=#0000FF>Pandas的Series用來處理時間序列相關的資料(如感測器資料等)，主要為建立索引的一維陣列。</font>

In [2]:
lst = [1,3,5]+[2,4,6]
print(lst)

[1, 3, 5, 2, 4, 6]

In [3]:
lst[[0,1,5]]

TypeError: list indices must be integers or slices, not list

In [23]:
srs1 = pd.Series(range(1,11))
srs2 = pd.Series(range(21,31))
print(srs1)
print(srs2)
print(srs1+srs2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    21
1    22
2    23
3    24
4    25
5    26
6    27
7    28
8    29
9    30
dtype: int64
0    22
1    24
2    26
3    28
4    30
5    32
6    34
7    36
8    38
9    40
dtype: int64

In [5]:
# 小心!! 當兩個 Series 的 index 不完全相同時，有可能會發生錯誤   

srs1 = pd.Series(range(1,11),index=range(1,11))
srs2 = pd.Series(range(21,31),index=range(6,16))
print(srs1)
print(srs2)
print(srs1+srs2)   #只有index一樣的地方才加

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
6     21
7     22
8     23
9     24
10    25
11    26
12    27
13    28
14    29
15    30
dtype: int64
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6     27.0
7     29.0
8     31.0
9     33.0
10    35.0
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
dtype: float64

In [25]:
srs1 = pd.Series(range(1,11),index=range(1,11))
print(srs1)

srs1[[1,5,7]]   # Series 可以離散取 index, list 不可以

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

1    1
5    5
7    7
dtype: int64

In [26]:
dict = {'a':(10,20),'b':('b1','b2'),'c':(100,90)}   # key 被當成 index
pd.Series(dict)

a     (10, 20)
b     (b1, b2)
c    (100, 90)
dtype: object

### <font color=#0000FF>使用Series來計算大數法則</font>

In [7]:
n = 10

trials = pd.Series(np.random.choice(range(1,7),n,replace=True))


probs = trials.cumsum() / pd.Series(range(1,n+1))

print(trials.cumsum())
print(pd.Series(range(1,n+1)))
print(probs)

0     6
1     8
2    10
3    16
4    19
5    24
6    26
7    31
8    36
9    38
dtype: int32
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    6.000000
1    4.000000
2    3.333333
3    4.000000
4    3.800000
5    4.000000
6    3.714286
7    3.875000
8    4.000000
9    3.800000
dtype: float64

In [3]:
srs = pd.Series([14,36,87,12,43])
print(srs)

0    14
1    36
2    87
3    12
4    43
dtype: int64

In [35]:
print(srs.size)
print(srs.mean(skipna=True)) #忽略na
print(srs.std(skipna=True))
print(srs.var(skipna=True))

5
38.4
30.336446726668566
920.3

### <font color=#0000FF>Pandas的DataFrame</font>

In [119]:
path = r"E:\annie\3下課程\MyPython\PyData"
airQty = pd.read_csv(path + r"\AirQty(CSV)2016-06-01.csv",
                     sep=",",engine='python',encoding='utf-8-sig')

In [51]:
airQty.head()

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM25,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016-06-01 02:00
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016-06-01 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016-06-01 02:00
3,金門,金門縣,32,NaN,良好,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48,2016-06-01 02:00
4,馬祖,連江縣,39,NaN,良好,2.8,0.08,17.0,29.0,11,6.2,6.5,200.0,2,7.74,1.55,2016-06-01 02:00

In [52]:
print(type(airQty))
  # 列出所有 column 的 data types

<class 'pandas.core.frame.DataFrame'>

In [53]:
print(airQty.columns)   # 列出所有的 column

Index(['SiteName', 'County', 'PSI', 'MajorPollutant', 'Status', 'SO2', 'CO',
       'O3', 'PM10', 'PM25', 'NO2', 'WindSpeed', 'WindDirec', 'FPMI', 'NOx',
       'NO', 'PublishTime'],
      dtype='object')

In [55]:
print(airQty.index)     # 這個就是列

RangeIndex(start=0, stop=76, step=1)

In [39]:
print(airQty.dtypes)  #變數類型

SiteName           object
County             object
PSI                 int64
MajorPollutant     object
Status             object
SO2               float64
CO                float64
O3                float64
PM10              float64
PM25                int64
NO2               float64
WindSpeed         float64
WindDirec         float64
FPMI                int64
NOx               float64
NO                float64
PublishTime        object
dtype: object

In [9]:
print(type(airQty["PSI"]))                           # 查看 airQty["PSI"] 這一坨是甚麼東西 ?
print(airQty["PSI"].dtype)                           # 查看 airQty["PSI"] 這個 Series 的資料型態(dtype)
print(airQty["PSI"].dtype in ["int64", "float64"])   # 判斷 "PSI" 欄位的資料型態是不是 int64 or float64
print(airQty["PSI"])

<class 'pandas.core.series.Series'>
int64
True
0     36
1     23
2     16
3     32
4     39
5     28
6     20
7     37
8     25
9     50
10    52
11    31
12    34
13    17
14    29
15    23
16    20
17    35
18    34
19    22
20    18
21    24
22    27
23    40
24    17
25    29
26    33
27    29
28    24
29    17
      ..
46    43
47    18
48    15
49    19
50    31
51    29
52    25
53    33
54    22
55    45
56    37
57    33
58    28
59    36
60    46
61    34
62    35
63    39
64    42
65    28
66    39
67    34
68    41
69    37
70    44
71    37
72    36
73    35
74    39
75    36
Name: PSI, Length: 76, dtype: int64

In [56]:
print(airQty.columns[0:5])
print(airQty.columns[[1, 5, 7]])

Index(['SiteName', 'County', 'PSI', 'MajorPollutant', 'Status'], dtype='object')
Index(['County', 'SO2', 'O3'], dtype='object')

 <font color=#0000FF>列出 airQty 哪些資料行是屬於 數值 型態?</font>

In [58]:
print(airQty["PSI"].dtype in ["int64", "float64"])

True

In [62]:
lst = []
for col in airQty.columns:
    print(col)

SiteName
County
PSI
MajorPollutant
Status
SO2
CO
O3
PM10
PM25
NO2
WindSpeed
WindDirec
FPMI
NOx
NO
PublishTime

In [57]:
#法一 airQty["PSI"].dtype
lst = []

for col in airQty.columns:
    if airQty[col].dtype in ['int64','float64']:
        lst.append(col)
print(lst)

['PSI', 'SO2', 'CO', 'O3', 'PM10', 'PM25', 'NO2', 'WindSpeed', 'WindDirec', 'FPMI', 'NOx', 'NO']

In [63]:
#法二

lst = []
dtypes = airQty.dtypes

for idx in range(len(airQty.columns)):
    if dtypes[idx] in ['int64','float64']:
        lst.append(idx)
print(airQty.columns[lst])

Index(['PSI', 'SO2', 'CO', 'O3', 'PM10', 'PM25', 'NO2', 'WindSpeed',
       'WindDirec', 'FPMI', 'NOx', 'NO'],
      dtype='object')

In [68]:
dtypes = airQty.dtypes
print(dtypes)
print(dtypes[7])
len(airQty.columns)

SiteName           object
County             object
PSI                 int64
MajorPollutant     object
Status             object
SO2               float64
CO                float64
O3                float64
PM10              float64
PM25                int64
NO2               float64
WindSpeed         float64
WindDirec         float64
FPMI                int64
NOx               float64
NO                float64
PublishTime        object
dtype: object
float64

17

### <font color=#0000FF> DataFrame 之</font>
* loc[ ] : 使用 label
* iloc[ ] : 使用 index

In [69]:
airQty.loc[0:5,['PSI','SO2']]

   PSI  SO2
0   36  1.2
1   23  1.2
2   16  0.8
3   32  1.4
4   39  2.8
5   28  2.0

In [41]:
airQty.iloc[0:5,[0,3,5]]

  SiteName MajorPollutant  SO2
0       麥寮            NaN  1.2
1       關山            NaN  1.2
2       馬公            NaN  0.8
3       金門            NaN  1.4
4       馬祖            NaN  2.8

 <font color=#0000FF>DataFrame 的資料篩選</font>

In [70]:
print(airQty.shape)
print(airQty.ndim)

(76, 17)
2

In [71]:
airQty[airQty["PM25"]<10]  #是dataframe #篩選觀察植--但全部變數印出來

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM25,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016-06-01 02:00
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016-06-01 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016-06-01 02:00
3,金門,金門縣,32,NaN,良好,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48,2016-06-01 02:00
6,復興,高雄市,20,NaN,良好,3.6,0.12,15.0,15.0,1,5.1,0.6,199.0,1,6.15,1.08,2016-06-01 02:00
8,竹山,南投縣,25,NaN,良好,2.7,0.15,3.7,22.0,8,8.7,1.0,355.0,1,10.54,1.86,2016-06-01 02:00
9,中壢,桃園市,50,NaN,良好,4.4,0.41,3.0,44.0,5,17.0,1.1,200.0,2,23.48,6.33,2016-06-01 02:00
11,冬山,宜蘭縣,31,NaN,良好,1.9,0.36,3.3,32.0,9,14.0,0.7,189.0,2,17.91,3.70,2016-06-01 02:00
15,臺東,臺東縣,23,NaN,良好,1.0,0.19,7.5,21.0,9,6.5,0.8,304.0,2,7.28,0.82,2016-06-01 02:00
16,恆春,屏東縣,20,NaN,良好,1.4,0.05,18.0,17.0,1,2.3,3.8,277.0,1,4.34,2.05,2016-06-01 02:00
19,小港,高雄市,22,NaN,良好,6.8,0.08,14.0,25.0,0,9.0,1.8,278.0,1,10.84,1.85,2016-06-01 02:00
20,前鎮,高雄市,18,NaN,良好,2.4,0.08,16.0,16.0,3,3.2,1.4,305.0,1,4.38,1.16,2016-06-01 02:00
22,左營,高雄市,27,NaN,良好,3.3,0.07,15.0,27.0,9,5.7,1.6,253.0,1,6.02,0.29,2016-06-01 02:00
24,林園,高雄市,17,NaN,良好,2.9,0.02,14.0,14.0,5,6.4,1.2,284.0,1,6.50,0.12,2016-06-01 02:00
25,大寮,高雄市,29,NaN,良好,6.8,0.17,7.8,23.0,0,9.2,0.9,280.0,1,11.57,2.39,2016-06-01 02:00
26,鳳山,高雄市,33,NaN,良好,4.2,0.14,13.0,30.0,0,7.7,1.5,253.0,1,9.31,1.58,2016-06-01 02:00
27,仁武,高雄市,29,NaN,良好,3.8,0.09,15.0,33.0,7,6.7,0.9,250.0,1,8.38,1.71,2016-06-01 02:00
28,橋頭,高雄市,24,NaN,良好,3.2,0.25,2.3,28.0,7,12.0,0.9,83.0,1,20.29,8.11,2016-06-01 02:00
29,美濃,高雄市,17,NaN,良好,1.9,0.21,3.5,20.0,6,5.3,0.9,60.0,1,8.02,2.76,2016-06-01 02:00
32,善化,臺南市,25,NaN,良好,1.9,0.13,7.7,18.0,0,7.2,1.4,152.0,1,7.50,0.34,2016-06-01 02:00
33,新營,臺南市,29,NaN,良好,2.2,0.17,6.6,28.0,5,6.9,1.7,179.0,1,7.73,0.81,2016-06-01 02:00
35,臺西,雲林縣,24,NaN,良好,2.4,0.08,19.0,19.0,5,2.5,2.7,200.0,1,3.35,0.89,2016-06-01 02:00
36,朴子,嘉義縣,38,NaN,良好,2.6,0.19,5.7,43.0,6,11.0,1.6,181.0,2,12.10,1.24,2016-06-01 02:00
38,崙背,雲林縣,26,NaN,良好,1.9,0.16,7.2,21.0,9,7.5,2.5,167.0,2,8.53,1.02,2016-06-01 02:00
39,斗六,雲林縣,29,NaN,良好,1.6,0.15,5.7,32.0,3,8.2,0.9,122.0,1,9.63,1.45,2016-06-01 02:00
40,南投,南投縣,27,NaN,良好,1.9,0.14,4.1,29.0,9,6.8,1.3,146.0,1,8.84,2.04,2016-06-01 02:00
45,忠明,臺中市,21,NaN,良好,2.1,0.17,6.8,15.0,6,9.7,2.0,146.0,1,10.88,1.18,2016-06-01 02:00
46,大里,臺中市,43,NaN,良好,1.5,0.15,11.0,31.0,2,6.8,1.7,169.0,1,7.98,1.16,2016-06-01 02:00
49,三義,苗栗縣,19,NaN,良好,2.0,0.11,14.0,14.0,5,5.2,5.7,195.0,1,6.00,0.85,2016-06-01 02:00
51,頭份,苗栗縣,29,NaN,良好,2.2,0.17,9.4,29.0,7,9.6,5.1,237.0,1,10.57,1.01,2016-06-01 02:00
52,新竹,新竹市,25,NaN,良好,1.9,0.16,9.9,21.0,5,9.2,3.6,239.0,1,9.44,0.20,2016-06-01 02:00
54,湖口,新竹縣,22,NaN,良好,3.4,0.10,8.2,18.0,8,12.0,7.3,236.0,1,13.98,2.20,2016-06-01 02:00
58,大園,桃園市,28,NaN,良好,5.7,0.19,3.8,24.0,6,14.0,4.8,211.0,1,15.31,1.30,2016-06-01 02:00
70,板橋,新北市,44,NaN,良好,7.4,0.49,0.8,45.0,7,22.0,1.5,240.0,2,40.86,18.57,2016-06-01 02:00

In [44]:
airQty[airQty["PM25"]<10].head() #dataframe +.head()  # 基於 airQty 全部的 columns 挑選 PM25 <10

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM25,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016-06-01 02:00
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016-06-01 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016-06-01 02:00
3,金門,金門縣,32,NaN,良好,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48,2016-06-01 02:00
6,復興,高雄市,20,NaN,良好,3.6,0.12,15.0,15.0,1,5.1,0.6,199.0,1,6.15,1.08,2016-06-01 02:00

In [72]:
airQty[['PM25','NO2']][airQty["PM25"]<10]  #篩選觀察直--但只印特定的變數

    PM25   NO2
0      7   4.5
1      7   3.6
2      2   1.7
3      2   3.8
6      1   5.1
8      8   8.7
9      5  17.0
11     9  14.0
15     9   6.5
16     1   2.3
19     0   9.0
20     3   3.2
22     9   5.7
24     5   6.4
25     0   9.2
26     0   7.7
27     7   6.7
28     7  12.0
29     6   5.3
32     0   7.2
33     5   6.9
35     5   2.5
36     6  11.0
38     9   7.5
39     3   8.2
40     9   6.8
45     6   9.7
46     2   6.8
49     5   5.2
51     7   9.6
52     5   9.2
54     8  12.0
58     6  14.0
70     7  22.0

In [46]:
airQty[['PM25','NO2']][airQty["PM25"]<10].head() # 基於 airQty 的 PM25 與 NO2 columns 挑選 PM25 <10

   PM25  NO2
0     7  4.5
1     7  3.6
2     2  1.7
3     2  3.8
6     1  5.1

##### <font color=#FF0000>多個條件時，每一個條件務必要加上 ( )</font>

In [73]:
airQty[['PM25','NO2']][(airQty["PM25"]<10) & (airQty["NO2"]>3)].head()

   PM25  NO2
0     7  4.5
1     7  3.6
3     2  3.8
6     1  5.1
8     8  8.7

###### DataFrame 的 groupby
* [Python Pandas - GroupBy](https://www.tutorialspoint.com/python_pandas/python_pandas_groupby.htm)

In [49]:
airQty[['County','SiteName','SO2','PM25']]

   County SiteName   SO2  PM25
0     雲林縣       麥寮   1.2     7
1     臺東縣       關山   1.2     7
2     澎湖縣       馬公   0.8     2
3     金門縣       金門   1.4     2
4     連江縣       馬祖   2.8    11
5     南投縣       埔里   2.0    10
6     高雄市       復興   3.6     1
7     新北市       永和   1.3    11
8     南投縣       竹山   2.7     8
9     桃園市       中壢   4.4     5
10    新北市       三重   5.0    18
11    宜蘭縣       冬山   1.9     9
12    宜蘭縣       宜蘭   2.2    14
13    臺北市       陽明   1.4    10
14    花蓮縣       花蓮   1.1    11
15    臺東縣       臺東   1.0     9
16    屏東縣       恆春   1.4     1
17    屏東縣       潮州   2.1    11
18    屏東縣       屏東   3.2    18
19    高雄市       小港   6.8     0
20    高雄市       前鎮   2.4     3
21    高雄市       前金   2.5    15
22    高雄市       左營   3.3     9
23    高雄市       楠梓   2.5    15
24    高雄市       林園   2.9     5
25    高雄市       大寮   6.8     0
26    高雄市       鳳山   4.2     0
27    高雄市       仁武   3.8     7
28    高雄市       橋頭   3.2     7
29    高雄市       美濃   1.9     6
..    ...      ...   ...   ...
46    臺中市       大里   1.5     2
47    臺中市       沙鹿   3.4    10
48    臺中市       豐原   3.4    13
49    苗栗縣       三義   2.0     5
50    苗栗縣       苗栗   2.4    16
51    苗栗縣       頭份   2.2     7
52    新竹市       新竹   1.9     5
53    新竹縣       竹東   2.0    13
54    新竹縣       湖口   3.4     8
55    桃園市       龍潭   2.7    21
56    桃園市       平鎮   2.2    13
57    桃園市       觀音   3.5    19
58    桃園市       大園   5.7     6
59    桃園市       桃園   4.9    15
60    臺北市       大同   5.4    13
61    臺北市       松山   2.3    13
62    臺北市       古亭   1.4    12
63    臺北市       萬華   1.8    10
64    臺北市       中山   2.8    23
65    臺北市       士林   4.3    14
66    新北市       淡水   3.3    12
67    新北市       林口   3.3    14
68    新北市       菜寮   4.6    18
69    新北市       新莊  14.0    29
70    新北市       板橋   7.4     7
71    新北市       土城   6.1    18
72    新北市       新店   1.4    14
73    新北市       萬里   2.6    15
74    新北市       汐止   2.2    18
75    基隆市       基隆   3.4    16

[76 rows x 4 columns]

In [54]:
#排序
airQty[['County','SiteName','SO2','PM25']].sort_values(by='PM25',ascending=False).head() #遞減

   County SiteName   SO2  PM25
69    新北市       新莊  14.0    29
64    臺北市       中山   2.8    23
55    桃園市       龍潭   2.7    21
37    嘉義縣       新港   3.5    19
57    桃園市       觀音   3.5    19

In [55]:
airQty[['County','SiteName','SO2','PM25']].sort_values(by='County',ascending=True).head()

   County SiteName  SO2  PM25
40    南投縣       南投  1.9     9
8     南投縣       竹山  2.7     8
5     南投縣       埔里  2.0    10
34    嘉義市       嘉義  2.9    10
37    嘉義縣       新港  3.5    19

In [74]:
airQtyGrpBy = airQty[['County','SO2','PM25']].groupby('County')

In [75]:
print(airQtyGrpBy.size())
print(airQtyGrpBy.mean())

County
南投縣     3
嘉義市     1
嘉義縣     2
基隆市     1
宜蘭縣     2
屏東縣     3
彰化縣     3
新北市    11
新竹市     1
新竹縣     2
桃園市     6
澎湖縣     1
臺中市     5
臺北市     7
臺南市     4
臺東縣     2
花蓮縣     1
苗栗縣     3
連江縣     1
金門縣     1
雲林縣     4
高雄市    12
dtype: int64
             SO2       PM25
County
南投縣     2.200000   9.000000
嘉義市     2.900000  10.000000
嘉義縣     3.050000  12.500000
基隆市     3.400000  16.000000
宜蘭縣     2.050000  11.500000
屏東縣     2.233333  10.000000
彰化縣     3.066667  11.000000
新北市     4.654545  15.818182
新竹市     1.900000   5.000000
新竹縣     2.700000  10.500000
桃園市     3.900000  13.166667
澎湖縣     0.800000   2.000000
臺中市     2.480000   8.800000
臺北市     2.771429  13.571429
臺南市     2.050000   8.250000
臺東縣     1.100000   8.000000
花蓮縣     1.100000  11.000000
苗栗縣     2.200000   9.333333
連江縣     2.800000  11.000000
金門縣     1.400000   2.000000
雲林縣     1.775000   6.000000
高雄市     3.658333   5.666667

In [76]:
airQtyGrpBy = airQty[['County','SiteName','SO2','PM25']].groupby(['County','SiteName'])

In [77]:
print(airQtyGrpBy.size())

County  SiteName
南投縣     南投          1
        埔里          1
        竹山          1
嘉義市     嘉義          1
嘉義縣     新港          1
        朴子          1
基隆市     基隆          1
宜蘭縣     冬山          1
        宜蘭          1
屏東縣     屏東          1
        恆春          1
        潮州          1
彰化縣     二林          1
        彰化          1
        線西          1
新北市     三重          1
        土城          1
        新店          1
        新莊          1
        板橋          1
        林口          1
        永和          1
        汐止          1
        淡水          1
        菜寮          1
        萬里          1
新竹市     新竹          1
新竹縣     湖口          1
        竹東          1
桃園市     中壢          1
                   ..
臺北市     萬華          1
        陽明          1
臺南市     善化          1
        安南          1
        新營          1
        臺南          1
臺東縣     臺東          1
        關山          1
花蓮縣     花蓮          1
苗栗縣     三義          1
        苗栗          1
        頭份          1
連江縣     馬祖          1
金門縣     金門          1
雲林縣     崙背          1
        斗六          1
        臺西          1
        麥寮          1
高雄市     仁武          1
        前金          1
        前鎮          1
        大寮          1
        小港          1
        左營          1
        復興          1
        林園          1
        楠梓          1
        橋頭          1
        美濃          1
        鳳山          1
Length: 76, dtype: int64

###### DataFrame 的 concat

In [79]:
# (type 1 data)
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

In [61]:
print(df1)
print(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [80]:
#上下並
result = pd.concat([df1, df2],axis=0,verify_integrity=False)  
# verify_integrity=False 不驗證 index 亂了沒關西忽略
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [63]:
result = pd.concat([df1, df2],axis=0,verify_integrity=True)  
#verify_integrity=true 驗證 index 亂了 不能跑
print(result)

ValueError: Indexes have overlapping values: Int64Index([0, 1, 2, 3], dtype='int64')

#### <font color=#FF0000>重要的方式，形同 R 的 rbind()</font>

In [81]:
result = pd.concat([df1, df2],axis=0,verify_integrity=True,ignore_index=True)  #忽略index 要不然不能跑
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [66]:

# 左右並
result = pd.concat([df1, df2],axis=1,verify_integrity=False)  # verify_integrity=True 會發生錯誤
print(result)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [67]:
result = pd.concat([df1, df2],axis=1,verify_integrity=True,ignore_index=True)
print(result)

    0   1   2   3   4   5   6   7
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [82]:
# (type 2 data : column名稱不同)


df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df4 = pd.DataFrame({'E': ['A4', 'A5', 'A6', 'A7'],
                    'F': ['B4', 'B5', 'B6', 'B7'],
                    'G': ['C4', 'C5', 'C6', 'C7'],
                    'H': ['D4', 'D5', 'D6', 'D7']})

In [83]:
print(df3)
print(df4)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    E   F   G   H
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [70]:
#上下並
result = pd.concat([df3, df4],axis=0,sort=True) #concat([])
print(result)

     A    B    C    D    E    F    G    H
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   A4   B4   C4   D4
1  NaN  NaN  NaN  NaN   A5   B5   C5   D5
2  NaN  NaN  NaN  NaN   A6   B6   C6   D6
3  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [84]:
#左右並
result = pd.concat([df3, df4],axis=1)
print(result)

    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [5]:
# (type 3 data : index名稱不完全相同)

df5 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df6 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                     index=[2, 5, 6, 7])

In [86]:
print(df5)
print(df6)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
2  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [6]:
#上下
result = pd.concat([df5, df6],axis=0)
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
2  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [7]:
result = pd.concat([df5, df6],axis=0,verify_integrity=True) #驗證不會過
print(result)

ValueError: Indexes have overlapping values: Int64Index([2], dtype='int64')

In [8]:
#左右
result = pd.concat([df5, df6],axis=1,verify_integrity=True,ignore_index=True)#--- #預設 join="outer"
print(result)

     0    1    2    3    4    5    6    7
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2   A4   B4   C4   D4
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

匯出csv

In [9]:
result.to_csv(r'E:\annie\3下課程\MyPython\Final_note\test.csv',index=True, header=True)

In [91]:
#交集
result = pd.concat([df5, df6],axis=1,verify_integrity=True,ignore_index=True,join="inner") 
#join="inner"--兩邊都有的
print(result)

    0   1   2   3   4   5   6   7
2  A2  B2  C2  D2  A4  B4  C4  D4

### <font color=#FF0000>DataFrame 的 merge (inner、outer、left、right)</font>
pd.merge(
    left,
    right,
    how='inner',
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=False,
    suffixes=('_x', '_y'),
    copy=True,
    indicator=False,
    validate=None
    )

how : {'left', 'right', 'outer', 'inner'}, default 'inner'
- <font color=#FF0000>inner</font> : use intersection of keys from both frames, similar to a SQL <font color=#FF0000>inner join</font>; preserve the order of the left keys
    - 兩邊皆有的值才會出來
- <font color=#FF0000>left</font> : use only keys from left frame, similar to a SQL <font color=#FF0000>left outer join</font>; preserve key order
    - 左邊的值會全部出來
- <font color=#FF0000>right</font>: use only keys from right frame, similar to a SQL <font color=#FF0000>right outer join</font>; preserve key order
    - 右邊的值會全部出來
- <font color=#FF0000>outer</font>: use union of keys from both frames, similar to a SQL <font color=#FF0000>full outer join</font>; sort keys lexicographically
    - 左、右兩邊的值會全部出來
    
validate : string, default None. If specified, checks if merge is of specified type.

* "one_to_one" or "1:1": check if merge keys are unique in both
  left and right datasets.
* "one_to_many" or "1:m": check if merge keys are unique in left
  dataset.
* "many_to_one" or "m:1": check if merge keys are unique in right
  dataset.
* "many_to_many" or "m:m": allowed, but does not result in checks.

In [132]:
path = r"E:\annie\3下課程\MyPython\PyData"
emp1 = pd.read_csv(path + r'\Emp1.csv',sep=",",engine='python',encoding='utf-8-sig')
emp2 = pd.read_csv(path + r'\Emp2.csv',sep=",",engine='python',encoding='utf-8-sig')
cust = pd.read_csv(path + r'\Cust.csv',sep=",",engine='python',encoding='utf-8-sig')

#path = r"E:\annie\3下課程\MyPython\PyData"
#airQty = pd.read_csv(path + r"\AirQty(CSV)2016-06-01.csv",
 #                    sep=",",engine='python',encoding='utf-8-sig')

In [133]:
print(emp1)
print(emp2)
print(cust)

   EmpNo EmpName      Dept        Pos
0      1   Brian  Business    Manager
1      2   Kevin       R&D  Developer
2      3    John       R&D         PM
3      4  Dragon     Sales      Sales
   EmpID EmpName      Dept        Pos
0      1   Brian  Business    Manager
1      2   Kevin       R&D  Developer
2      3    John       R&D         PM
3      4  Dragon     Sales      Sales
   EmpNo CustNo AreaNo
0      2  C0005      A
1      2  C0010      B
2      3  C0020      C
3      5  C0025      D

In [134]:
pd.merge(left=emp1, right=cust, how="inner", on="EmpNo")  #   用"EmpNo"並   #兩邊皆有的值才會出來

   EmpNo EmpName Dept        Pos CustNo AreaNo
0      2   Kevin  R&D  Developer  C0005      A
1      2   Kevin  R&D  Developer  C0010      B
2      3    John  R&D         PM  C0020      C

In [81]:
pd.merge(left=emp2, right=cust, how="inner", left_on="EmpID", right_on="EmpNo") #要併的變數名稱不一樣

   EmpID EmpName Dept        Pos  EmpNo CustNo AreaNo
0      2   Kevin  R&D  Developer      2  C0005      A
1      2   Kevin  R&D  Developer      2  C0010      B
2      3    John  R&D         PM      3  C0020      C

In [135]:
pd.merge(left=emp1, right=cust, how="left", on="EmpNo")

   EmpNo EmpName      Dept        Pos CustNo AreaNo
0      1   Brian  Business    Manager    NaN    NaN
1      2   Kevin       R&D  Developer  C0005      A
2      2   Kevin       R&D  Developer  C0010      B
3      3    John       R&D         PM  C0020      C
4      4  Dragon     Sales      Sales    NaN    NaN

In [136]:
pd.merge(left=emp1, right=cust, how="right", on="EmpNo")

   EmpNo EmpName Dept        Pos CustNo AreaNo
0      2   Kevin  R&D  Developer  C0005      A
1      2   Kevin  R&D  Developer  C0010      B
2      3    John  R&D         PM  C0020      C
3      5     NaN  NaN        NaN  C0025      D

In [137]:
pd.merge(left=emp1, right=cust, how="outer", on="EmpNo")

   EmpNo EmpName      Dept        Pos CustNo AreaNo
0      1   Brian  Business    Manager    NaN    NaN
1      2   Kevin       R&D  Developer  C0005      A
2      2   Kevin       R&D  Developer  C0010      B
3      3    John       R&D         PM  C0020      C
4      4  Dragon     Sales      Sales    NaN    NaN
5      5     NaN       NaN        NaN  C0025      D

### <font color=#0000FF>Categorical (類別資料)</font>
* Norminal Scales
* Ordinal Scales

---

* Interval Scales
* Ratio Scales

#### <font color=#0000FF>Norminal</font>

In [139]:
data = ['high','medium','medium','low','high']

In [140]:
data

['high', 'medium', 'medium', 'low', 'high']

In [141]:
data_nom = pd.Categorical(data, categories=['high','medium','low'], ordered=False)
data_nom

[high, medium, medium, low, high]
Categories (3, object): [high, medium, low]

#### <font color=#0000FF>Ordinal</font>

In [88]:
data = ['high','medium','medium','low','high']

In [143]:
data_ord = pd.Categorical(data, categories=['low','medium','high'], ordered=True)
data_ord

[high, medium, medium, low, high]
Categories (3, object): [low < medium < high]

In [144]:
data_ord >= 'medium'

array([ True,  True,  True, False,  True])

In [145]:
data_ord[data_ord >= 'medium']

[high, medium, medium, high]
Categories (3, object): [low < medium < high]

### <font color=#0000FF>第六次作業(2019-05-07)</font>
1. 請撰寫一個函數，可以給予 X 與 Y，它會回應相對應的 xlist, ylist 的欄位名稱
    - xlist, ylist getColNamesByIndex(data,X,Y)
    - 例如 : X = (1,3,5,6,9), Y = (10)
2. 請撰寫一個函數，可以給予任何的資料集，它會回應一個tuple，內含該數據集的資料型態是屬於 <u>數值型態</u> 的欄位名稱
    - tuple getNumericFields(data)
3. 請撰寫一個函數，可以給予任何的資料集，它會回應一個僅具有 <u>數值型態</u> 欄位的資料集
    - DataFrame getNumericFieldsDataFrame(data)