【臺北大學】Python程式設計<br>
【授課老師】[陳祥輝 (Email : HsiangHui.Chen@gmail.com)](mailto:HsiangHui.Chen@gmail.com)<br>
【facebook】[陳祥輝老師的臉書 (歡迎加好友)](https://goo.gl/osivhx)<br>
【參考書籍】[從零開始學Python程式設計（適用Python 3.5以上）](http://www.drmaster.com.tw/Bookinfo.asp?BookID=MP31821)<br>
【主要議題】Date and Time

【重點提要】
- Python <font color=#0000FF>time</font> Module
- pandas有關日期的method
    - [pandas.date_range()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html) : Return a fixed frequency DatetimeIndex.
    - [pandas.DatetimeIndex()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html#pandas.DatetimeIndex) : An immutable container for datetimes.
    - [pandas.timedelta_range()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.timedelta_range.html#pandas.timedelta_range) : Return a fixed frequency TimedeltaIndex.
    - [pandas.period_range()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.period_range.html#pandas.period_range) : Return a fixed frequency PeriodIndex.
    - [pandas.interval_range()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.interval_range.html#pandas.interval_range) : Return a fixed frequency IntervalIndex.
- Python <font color=#0000FF>datetime</font> Module

【參考資料】
- [Offset Aliases](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)
- [Python datetime Module](https://www.programiz.com/python-programming/datetime)

In [54]:
# -*- coding: utf-8 -*-
import datetime
import os, time, socket
import pandas as pd
import numpy as np

print("【日期時間】{}".format(time.strftime("%Y-%m/%d %H:%M:%S")))
print("【工作目錄】{}".format(os.getcwd()))
print("【主機名稱】{} ({})".format(socket.gethostname(),socket.gethostbyname(socket.gethostname())))

【日期時間】2019-06/18 09:44:58
【工作目錄】E:\annie\3下課程\MyPython\Final_note
【主機名稱】LAPTOP-7TNGIFIP (172.20.10.3)

### <font color=#0000FF>time.strftime()</font>
<pre>
%Y  Year with century as a decimal number.
%m  Month as a decimal number [01,12].
%d  Day of the month as a decimal number [01,31].
%H  Hour (24-hour clock) as a decimal number [00,23].
%M  Minute as a decimal number [00,59].
%S  Second as a decimal number [00,61].
%z  Time zone offset from UTC.
%a  Locale's abbreviated weekday name.
%A  Locale's full weekday name.
%b  Locale's abbreviated month name.
%B  Locale's full month name.
%c  Locale's appropriate date and time representation.
%I  Hour (12-hour clock) as a decimal number [01,12].
%p  Locale's equivalent of either AM or PM.
</pre>

### <font color=#0000FF>pandas.date_range()</font>

pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)

- start : str or datetime-like, optional Left bound for generating dates.
- end : str or datetime-like, optional Right bound for generating dates.
- periods : integer, optional Number of periods to generate.
- freq : str or DateOffset, default ‘D’ Frequency strings can have multiples, e.g. ‘5H’. See here for a list of frequency aliases.
- tz : str or tzinfo, optional Time zone name for returning localized DatetimeIndex, for example ‘Asia/Hong_Kong’. By default, the resulting DatetimeIndex is timezone-naive.
- normalize : bool, default False Normalize start/end dates to midnight before generating date range.
- name : str, default None Name of the resulting DatetimeIndex.
- closed : {None, ‘left’, ‘right’}, optional Make the interval closed with respect to the given frequency to the ‘left’, ‘right’, or both sides (None, the default).
- \**kwargs For compatibility. Has no effect on the result.

---
[參考資料]
- [pandas.date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)
- [Offset Aliases](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)
- [Using the urllib.request Module](https://stackabuse.com/download-files-with-python/)

#### <font color=#0000FF>(1) freq 參數 : 給定起(start)、迄(end)，依據freq來取日期</font>
- [Offset Aliases](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)

In [3]:
pd.date_range(start='2018-12-15', end='2018-12-30', freq='2D') #隔2天

DatetimeIndex(['2018-12-15', '2018-12-17', '2018-12-19', '2018-12-21',
               '2018-12-23', '2018-12-25', '2018-12-27', '2018-12-29'],
              dtype='datetime64[ns]', freq='2D')

In [4]:
pd.date_range(start='2019-04-01', end='2019-05-15', freq='B') #B-buissines day

DatetimeIndex(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
               '2019-04-05', '2019-04-08', '2019-04-09', '2019-04-10',
               '2019-04-11', '2019-04-12', '2019-04-15', '2019-04-16',
               '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-22',
               '2019-04-23', '2019-04-24', '2019-04-25', '2019-04-26',
               '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02',
               '2019-05-03', '2019-05-06', '2019-05-07', '2019-05-08',
               '2019-05-09', '2019-05-10', '2019-05-13', '2019-05-14',
               '2019-05-15'],
              dtype='datetime64[ns]', freq='B')

In [5]:
pd.date_range(start='2018-12-15', end='2019-03-15', freq='M') #月底

DatetimeIndex(['2018-12-31', '2019-01-31', '2019-02-28'], dtype='datetime64[ns]', freq='M')

In [6]:
pd.date_range(start='2018-12-15', end='2019-03-15', freq='MS')#月初

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01'], dtype='datetime64[ns]', freq='MS')

In [6]:
pd.date_range(start='2018-12-15', end='2019-05-15', freq='Q')   #每一季的最後一天

DatetimeIndex(['2018-12-31', '2019-03-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [8]:
pd.date_range(start='2018-12-15', end='2019-10-15', freq=pd.offsets.MonthEnd(3)) #每3個月月底

DatetimeIndex(['2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30'], dtype='datetime64[ns]', freq='3M')

In [10]:
pd.date_range(start='2018-12-15', end='2019-10-15', freq=pd.offsets.MonthBegin(5)) #每5個月月初

DatetimeIndex(['2019-01-01', '2019-06-01'], dtype='datetime64[ns]', freq='5MS')

#### <font color=#0000FF>(2) closed 參數控制是否包含起、迄</font>
- closed = None : 包含起、迄
- closed = 'left' : 包含起、不包含迄
- closed = 'right' : 不包含起、包含迄

In [9]:
pd.date_range(start='2018-12-15', end='2019-01-15', freq='1D',closed=None)

DatetimeIndex(['2018-12-15', '2018-12-16', '2018-12-17', '2018-12-18',
               '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-22',
               '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
               '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30',
               '2018-12-31', '2019-01-01', '2019-01-02', '2019-01-03',
               '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-12', '2019-01-13', '2019-01-14', '2019-01-15'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range(start='2018-12-15', end='2019-01-15', freq='1D',closed='left')

DatetimeIndex(['2018-12-15', '2018-12-16', '2018-12-17', '2018-12-18',
               '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-22',
               '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
               '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30',
               '2018-12-31', '2019-01-01', '2019-01-02', '2019-01-03',
               '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-12', '2019-01-13', '2019-01-14'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range(start='2018-12-15', end='2019-01-15', freq='1D',closed='right')

DatetimeIndex(['2018-12-16', '2018-12-17', '2018-12-18', '2018-12-19',
               '2018-12-20', '2018-12-21', '2018-12-22', '2018-12-23',
               '2018-12-24', '2018-12-25', '2018-12-26', '2018-12-27',
               '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31',
               '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15'],
              dtype='datetime64[ns]', freq='D')

#### <font color=#0000FF>(3) 給定 起(start)日期 或(且) 迄日期(end)，來取得幾個日期(periods)</font>
- [Offset Aliases](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)</font>
- start / end 的設定方式
    - 只給 start : 往未來日期取
    - 只給 end : 往過去日期取
    - 同時給 start, end : 在start與end之間取等距個periods個日期

In [12]:
pd.date_range(start='2018-12-15', periods=8, freq='M',closed=None)

DatetimeIndex(['2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31',
               '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31'],
              dtype='datetime64[ns]', freq='M')

In [13]:
pd.date_range(end='2018-12-15', periods=8, freq='M',closed=None)

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30'],
              dtype='datetime64[ns]', freq='M')

In [14]:
pd.date_range(start='2018-12-15', end='2019-04-30', periods=8, closed=None)

DatetimeIndex([          '2018-12-15 00:00:00',
               '2019-01-03 10:17:08.571428608',
               '2019-01-22 20:34:17.142857216',
               '2019-02-11 06:51:25.714285824',
               '2019-03-02 17:08:34.285714176',
               '2019-03-22 03:25:42.857142784',
               '2019-04-10 13:42:51.428571392',
                         '2019-04-30 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [12]:
friday = pd.Timestamp('2018-01-05')
friday

Timestamp('2018-01-05 00:00:00')

In [13]:
# Add 1 day
saturday = friday + pd.Timedelta('1 day')
saturday

Timestamp('2018-01-06 00:00:00')

In [14]:
# Add 1 business day (Friday --> Monday)
monday = friday + pd.offsets.BDay()
monday

Timestamp('2018-01-08 00:00:00')

In [15]:
pd.Series(range(3), index=pd.date_range('2000', freq='D', periods=3))

2000-01-01    0
2000-01-02    1
2000-01-03    2
Freq: D, dtype: int64

In [16]:
pd.Series(pd.date_range('2000', freq='D', periods=3))

0   2000-01-01
1   2000-01-02
2   2000-01-03
dtype: datetime64[ns]

In [17]:
pd.Series(pd.period_range('1/1/2011', freq='M', periods=3))

0   2011-01
1   2011-02
2   2011-03
dtype: object

In [18]:
pd.Series([pd.DateOffset(1), pd.DateOffset(2)])

0         <DateOffset>
1    <2 * DateOffsets>
dtype: object

In [19]:
pd.Series(pd.date_range('1/1/2011', freq='M', periods=3))

0   2011-01-31
1   2011-02-28
2   2011-03-31
dtype: datetime64[ns]

In [21]:
pd.Timestamp('2012-05-01')

Timestamp('2012-05-01 00:00:00')

In [22]:
pd.Timestamp(2012, 5, 1)

Timestamp('2012-05-01 00:00:00')

In [23]:
pd.Period('2011-01')

Period('2011-01', 'M')

In [24]:
pd.Period('2012-05', freq='D')

Period('2012-05-01', 'D')

In [30]:
dates = [pd.Timestamp('2012-05-01'),pd.Timestamp('2012-05-02'),pd.Timestamp('2012-05-03')]
print(dates)

[Timestamp('2012-05-01 00:00:00'), Timestamp('2012-05-02 00:00:00'), Timestamp('2012-05-03 00:00:00')]

In [31]:
ts = pd.Series(np.random.randn(3), dates)
print(ts)

2012-05-01   -1.200187
2012-05-02   -0.464910
2012-05-03    1.949867
dtype: float64

In [36]:
print(type(ts.index))
print(ts.index)

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [37]:
periods = [pd.Period('2012-01'), pd.Period('2012-02'), pd.Period('2012-03')]
print(periods)

[Period('2012-01', 'M'), Period('2012-02', 'M'), Period('2012-03', 'M')]

In [39]:
ts = pd.Series(np.random.randn(3), periods)
print(ts)
type(ts.index)

2012-01    0.165141
2012-02   -0.151279
2012-03    0.851398
Freq: M, dtype: float64

pandas.core.indexes.period.PeriodIndex

In [40]:
ts.index
ts

2012-01    0.165141
2012-02   -0.151279
2012-03    0.851398
Freq: M, dtype: float64

In [42]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [43]:
pd.to_datetime(['2005/11/23', '2010.12.31'])

DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [44]:
pd.to_datetime(['04-01-2012 10:00'], dayfirst=True)

DatetimeIndex(['2012-01-04 10:00:00'], dtype='datetime64[ns]', freq=None)

In [45]:
pd.to_datetime(['14-01-2012', '01-14-2012'], dayfirst=True)

DatetimeIndex(['2012-01-14', '2012-01-14'], dtype='datetime64[ns]', freq=None)

In [46]:
 pd.to_datetime('2010/11/12')

Timestamp('2010-11-12 00:00:00')

In [47]:
pd.DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'])

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], dtype='datetime64[ns]', freq=None)

In [48]:
pd.DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], freq='infer')

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], dtype='datetime64[ns]', freq='2D')

In [49]:
pd.to_datetime('2010/11/12', format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [50]:
pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')

Timestamp('2010-11-12 00:00:00')

In [51]:
df = pd.DataFrame({'year': [2015, 2016], 'month': [2, 3],'day': [4, 5],'hour': [2, 3]})

pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [52]:
pd.to_datetime(df[['year', 'month', 'day']])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [53]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [54]:
pd.to_datetime([1349720105100, 1349720105200, 1349720105300,1349720105400, 1349720105500], unit='ms')

DatetimeIndex(['2012-10-08 18:15:05.100000', '2012-10-08 18:15:05.200000',
               '2012-10-08 18:15:05.300000', '2012-10-08 18:15:05.400000',
               '2012-10-08 18:15:05.500000'],
              dtype='datetime64[ns]', freq=None)

### import datetime

##### 練習 1：如何將字符串日期解析為 datetime 格式？

In [8]:
s1 = "2010 Jan 1" 
s2 = '31-1-2000' 
s3 = 'October10,1996, 10:40pm'

from dateutil.parser import parse 
print(parse(s1)) 
print(parse(s2)) 
print(parse(s3))

2010-01-01 00:00:00
2000-01-31 00:00:00
2019-10-10 22:40:00

#### 練習2：距離你出生那天過去多少天了？

In [15]:
bday='Oct 2, 1869' 
import datetime 
from dateutil.parser import parse 

td = datetime.datetime.now() - parse(bday)
td.days

54679

#### 練習3：如何統計兩個日期之間有多少個星期六？

In [37]:
d1 = datetime.date(1869, 1, 2) 
d2 = datetime.date(1869, 10, 2) 
delta = d2 - d1 
#print(delta)
dates_btw_d1d2 = [(d1 + datetime.timedelta(i)) for i in range(delta.days + 1)] 
n_saturdays = 0 
for d in dates_btw_d1d2:
    n_saturdays += int(d.isoweekday() == 6) 
print(n_saturdays)

40

#### 練習4：距離你今年的下一個生日還有多少天？

In [31]:

bday = 'Oct 12, 1869' 
import datetime 
from dateutil.parser  import parse 
bdate = parse(bday) 
current_bdate = datetime.date(year=datetime.date.today().year,month=bdate.month, 
                              day=bdate.day) 
td = current_bdate - datetime.date.today()
td.days

117

#### 練習5：如何計算不規則日期序列中的連續時間間隔？

In [39]:
datestrings = ['Oct, 2, 1869', 'Oct, 10, 1869', 'Oct, 15, 1869', 'Oct, 20, 1869', 'Oct, 23, 1869'] 
import datetime 
from dateutil.parser import parse 
import numpy as np 
dates = [parse(d) for d in datestrings]
print([d.days for d in np.diff(dates)])

[8, 5, 5, 3]

練習6：如何將天數轉換為秒數？

In [40]:
import datetime 
bdate = datetime.date(1869, 10, 2) 
td = datetime.date.today() - bdate 
import datetime 
bdate = datetime.date(1869, 10, 2) 
td = datetime.date.today() - bdate 
td.total_seconds()

4724265600.0

#### 練習7：如何將給定日期轉換為當天開始的時間？

In [41]:
from datetime import date, datetime 
d = date(1869, 10, 2) 
print(datetime.combine(d, datetime.min.time()))

1869-10-02 00:00:00

#### 練習8：如何在 python 中獲取任意給定日期所在月份的最後一天？

In [42]:
import datetime 
dt = datetime.date(1952, 2, 12) 

import calendar 

calendar.monthrange(dt.year,dt.month)[1]

29

#### 練習9：1948年的二月份有多少個星期日？

In [43]:
import datetime 
from calendar import monthrange 
d1 = datetime.date(1948, 2, 1) 
n_days = monthrange(1948, 2) 

# Get all dates 
dates_btw_d1d2 = [(d1 + datetime.timedelta(i)) for i in range(n_days[1])]
n_sundays = 0 
for d in dates_btw_d1d2:
    n_sundays += int(d.isoweekday() == 6) 
print(n_sundays) #> 4

4

#### 練習10：如何將給定日期轉換為 "mmm-dd, YYYY" 的格式？

In [44]:
import datetime 
d1 = datetime.date(2010, 9, 28) 
d1.strftime('%b-%d, %Y')

'Sep-28, 2010'

練習11：如何將日期時間轉換為 Year-Qtr 的格式？

In [45]:
import datetime 
d1 = datetime.datetime(2010, 9, 28, 10, 40, 59) # Solution 
f'{d1.year}-Q{d1.month//4 + 1}'

'2010-Q3'

練習12：如何將 unix 時間戳轉換為易讀的日期形式？

In [46]:
unixtimestamp = 528756281 
import datetime 
dt = datetime.datetime.fromtimestamp(528756281)
dt.strftime('%d-%B-%Y')

'04-October-1986'

練習13：如何在不同的時區獲取時間？
* 如果 "亞洲/東京" 當前時間為 『2001-01-31::3:30:0』，那麼 "亞洲/加爾各答" 是什麼時間？

In [ ]:
import datetime 
dt_in = datetime.datetime(2001, 1, 31, 3, 30, 0, 0, tzinfo=pytz.timezone('Asia/Tokyo'))

india_tz = pytz.timezone('Asia/Kolkata') 
dt_in.astimezone(india_tz)

練習14：如何填寫給定的不規則日期序列中的缺失日期？

In [53]:
datestrings = ['Oct 2, 1869', 'Oct 5, 1869', 'Oct 7, 1869', 'Oct 9, 1869'] 
import datetime 
from dateutil.parser import parse 
import numpy as np 
dates = [parse(d) for d in datestrings] 
d1 = np.min(dates) 
d2 = np.max(dates) 
delta = d2 - d1

dates_btw_d1d2 = [(d1 + datetime.timedelta(i)).strftime('%b %d, %Y') 
                  for i in range(delta.days + 1)] 
print(dates_btw_d1d2)

['Oct 02, 1869', 'Oct 03, 1869', 'Oct 04, 1869', 'Oct 05, 1869', 'Oct 06, 1869', 'Oct 07, 1869', 'Oct 08, 1869', 'Oct 09, 1869']

##### time sleep

In [55]:
import time

print("Printed immediately.")
time.sleep(2.4)
print("Printed after 2.4 seconds.")

Printed immediately.
Printed after 2.4 seconds.

##### clock

In [56]:
import time

while True:
    localtime = time.localtime()
    result = time.strftime("%I:%M:%S %p", localtime)
    print(result)
    time.sleep(1)

09:46:42 AM
09:46:43 AM
09:46:44 AM
09:46:45 AM
09:46:46 AM
09:46:47 AM
09:46:48 AM
09:46:49 AM
09:46:50 AM
09:46:51 AM
09:46:52 AM
09:46:53 AM
09:46:54 AM
09:46:55 AM
09:46:56 AM
09:46:57 AM
09:46:58 AM
09:46:59 AM
09:47:00 AM
09:47:01 AM
09:47:02 AM
09:47:03 AM
09:47:04 AM
09:47:05 AM
09:47:06 AM
09:47:07 AM
09:47:08 AM
09:47:09 AM
09:47:10 AM
09:47:11 AM
09:47:12 AM
09:47:13 AM
09:47:14 AM
09:47:15 AM
09:47:16 AM
09:47:17 AM
09:47:18 AM
09:47:19 AM
09:47:20 AM
09:47:21 AM
09:47:22 AM
09:47:23 AM
09:47:24 AM
09:47:25 AM
09:47:26 AM
09:47:27 AM

KeyboardInterrupt:

### <font color=#0000FF>第五次作業(2019-04-30)</font>
請設定一個起、迄日期(例如 : 2018-12-15 ~ 2019-01-15 將以下 1. 的檔案下載至 C:\temp，並自己想辦法將下載的檔案解壓縮，當然不可以使用人工進行解壓縮，下載方式可以參考 2. 的網址
1. [CRAN package download logs](http://cran-logs.rstudio.com/)
2. [Using the urllib.request Module](https://stackabuse.com/download-files-with-python/)

【說明】
1. 下載的函數名稱 downloadFiles(srcURL, destPath, datesList)
2. 解壓縮的函數名稱 zipFiles(path)